body {
    background-color: rgba(140,111,236,255);
}

.container .stick1 {
    position: absolute;
    width: 15px;
    height: 100px;
    top: 50%;
    left: 51%;
    background-color: white;
    margin-left: -100px;
    margin-top: -30px;
    animation: stick1_move 0.5s  ease-in-out infinite;
}
.container .stick2 {
    position: absolute;
    width: 15px;
    height: 100px;
    top: 50%;
    left: 60%;
    background-color: white;
    margin-left: -100px;
    margin-top: -80px;
    animation: stick2_move 0.5s ease-in-out infinite;
}
.container .ball {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 55%;
    left: 55%;
    background-color: white;
    margin-left: -141px;
    margin-top: -50px;
    border-radius: 50%;
    filter: blur(5px);
    filter: contrast(5);
    animation: ball_move 0.5s  ease-in infinite;
}

@keyframes stick1_move {
    0% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-50px);
    }
}
@keyframes stick2_move {
    0% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(50px);
    }
}

@keyframes ball_move {
    0% {
        transform: translateX(90px);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(90px);
    }
}