body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;  
}

h1 {
  text-align: center;
  margin-top: 40px;
  color: #333;
}

.app-container {
  align-items: center;      
  min-height: calc(100vh - 80px); 
}



.movie-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  width: 350px;
  transition: transform 0.2s ease;
}

.movie-card:hover {
  transform: scale(1.02);
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.movie-card p {
  margin: 6px 0;
  color: #555;
}
