
* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #333;
    padding: 40px;
    font-weight: bold;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.109);
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box; 
}

.navbar-logo {
    margin-right: auto;
}

.navbar-logo a {
    color: #333;
    text-decoration: none;
    font-size: 2em;
    cursor: pointer;
}

.navbar-logo svg {
    width: 2.5em;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #333;
    text-decoration: none;
    font-size: 1.5em;
}

.nav-links li a::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #333;
    transition: 0.6s;
    margin-top: 3px;
}

.nav-links li a:hover:after {
    width: 100%;
}

#navbar-toggle {
    display: none;
}

.toggle-label {
    cursor: pointer;
    font-size: 1.5em;
    display: none;
    position: absolute;
    right: 20px;
}

/* Home */

.start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(website_back-photo.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px;
    margin-top: -20px; 
}

.start-container h1 {
    font-size: 4vw;
    color: #fff;
    padding: 15% 0 2% 0;
}

.start-container p {
    padding: 10px 0 0 2%;
    color: #fff;
    font-size: 2.5vw;
}

.buttons-grid {
    margin-top: 3%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.buttons {
    text-decoration: none;
    padding: 20px;
    font-size: 28px;
    border-radius: 6px;
    text-align: center;
    transition: 0.4s;
}

.buttons:nth-child(odd) {
    background-color: #fff;
    color: #333;
}

.buttons:nth-child(even) {
    background-color: #6195fe;
    color: #fff;
}

.buttons:hover {
    opacity: 0.6;
}

/* About */

.about-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.solarship-blocks {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
}

.solarship-blocks div {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 110px;
    border-radius: 10px;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.solarship-blocks div:hover {
    box-shadow: 0px 4px 8px 2px rgba(38, 38, 38, 0.2);
}

.solarship-blocks div svg {
    width: 40px;
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 50%;
}

.solarship-blocks a {
    padding: 0 0 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}

.solarship-blocks .solarship-blocks-1 {
    background-color: #ffd43b;
}

.solarship-blocks .solarship-blocks-2 {
    background-color: #327bd5;
}

.solarship-blocks .solarship-blocks-3 {
    background-color: #1fc2d9;
}

/* Popular programs */

.popular-programs {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.popular-programs h1 {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.programs-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5vw;
}

.program-card {
    width: 425px;
    background-color: #f8fafe;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    transition: all 0.3s ease-out;
}
.program-card:hover {
    box-shadow: 0px 4px 8px 4px rgba(38, 38, 38, 0.2);

}
.program-card img {
    width: 100%;
    height: 320px;
}

.program-card-content {
    padding: 40px;
}

.program-card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
    padding: 20px 0;
}

.program-card-content p {
    color: #666;
    font-size: 25px;
    line-height: 1.3;
    padding: 0 0 20px 0;
}

.programs-card-container .program-card-btn {
    display: inline-block;
    padding: 20px 70px;
    background-color: #f8fafe;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #60d3e4;
    border: 1.5px solid #60d3e4;
    transition: 0.3s;
}

.program-card-btn:hover {
    background-color: #60d3e4;
    color: #f8fafe;
}

.view-all-courses {
    display: flex;
    justify-content: center;
    position: relative;
    top: 5vw;
}

.courses-btn a {
    display: inline-block;
    padding: 20px 60px;
    background-color: f8fafe;
    border: 1.5px solid #666;
    border-radius: 4px;
    text-decoration: none;
    color: #666;
    transition: 0.3s;
}

.courses-btn a:hover {
    background-color: #666;
    color: #f8fafe;
}

/* Recent News */

.recent-news {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.recent-news h1 {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.news-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5vw;
}

.news-card {
    width: 500px;
    max-height: 40em;
    background-color: #f8fafe;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    transition: all 0.3s ease-out;
}

.news-card:hover {
    box-shadow: 0px 4px 8px 2px rgba(38, 38, 38, 0.2);
}

.news-card img {
    width: 100%;
    min-width: 100px;
    height: 320px;
}

.news-card-content {
    padding: 40px;
}

.news-card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
    padding: 20px 0;
}

.news-card-content h3:hover{
    color: darkred;
    cursor: pointer;
}

.news-card-content p {
    color: #666;
    font-size: 25px;
    line-height: 1.3;
    padding: 0 0 20px 0;
}

.views-comments{
    display: flex;
    flex-wrap: wrap;
}

.views-comments p{
    padding: 10px;
}

.views-comments p:hover{
    color: darkred;
    cursor: pointer;
}

/* Footer */

footer {
    background-color: #23242a;
    color: white;
    padding: 40px;
    margin-top: 15vw;
    
}

.stay-updated{
    display: flex;
    justify-content: center;
}

.footer-lists{
    display: flex;
}
.footer-container {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 1.5vw;
}

.footer-container div {
    flex: 1;
    margin: 20px 0;
}

.footer-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
    padding: 0 0 30px 0;
}

.footer-container input[type="email"] {
    width: 25vw;
    padding: 28px;
    border: none;
    font-size: 20px;
}

.footer-container input[type="email"]::placeholder{
    font-size: 20px;
}

.footer-container button {
    padding: 28px;
    border: none;
    background-color: #f0ad4e;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.footer-container .social-icons{
    display: flex;
}

.footer-container .social-icons svg {
    width: 30px;
    height: 30px;
    padding: 20px 40px 20px 0;
}

.footer-container ul {
    list-style-type: none;
    padding: 0;
}

.footer-container ul li {
    margin-bottom: 10px;
}

.footer-container ul li a {
    font-size: 24px;
    padding: 0 0 20px 0;
    color: #bbbbbb;
    text-decoration: none;
    transition: 0.3s;
}

.footer-container ul li a:hover {
    color: white;
}

/* Adaptive section */

@media screen and (max-width: 1024px) {
    .navbar {
        padding: 20px 15px;
    }

    .navbar-logo a {
        font-size: 1.8em;
    }

    .navbar-logo svg {
        width: 2em;
    }

    .nav-links li {
        margin-right: 15px;
    }

    .nav-links li a {
        font-size: 1.3em;
    }

    .footer-container input[type="email"] {
        width: auto;
        padding: 28px 50px;
        border: none;
        font-size: 20px;
    }

    .footer-container button{
        padding: 28px 90px;
        font-size: 20px;
    }
    
    .footer-container ul li {
        margin: 0 20px 10px 0;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 15px 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-label {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav-links li {
        width: 100%;
        text-align: left;
    }

    .nav-links li a {
        padding: 10px 0;
        width: 100%;
        display: block;
    }

    #navbar-toggle:checked ~ .nav-links {
        display: flex;
    }

    .start-container {
        padding: 50px 20px;
    }

    .start-container h1 {
        font-size: 8vw; 
    }

    .start-container p {
        font-size: 4.5vw; 
    }

    .buttons-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .about-container {
        padding: 10px;
    }

    .solarship-blocks{
        width: 80%;
    }

    .solarship-blocks div {
        height: 90px;
    }

    .solarship-blocks a {
        font-size: 1.2em;
    }

    .popular-programs h1 {
        font-size: 6vw;
    }

    .program-card-content h3 {
        font-size: 24px;
    }

    .program-card-content p {
        font-size: 20px;
    }

    .footer-lists{
        display: flex;
        flex-direction: column;
    }
    .stay-updated{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .email-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer-container input[type="email"] {
        width: auto;
        padding: 28px 50px;
        border: none;
        font-size: 20px;
    }
    .footer-container button{
        padding: 28px 50px;
        font-size: 20px;
    }
    .footer-container input[type="email"] {
        width: auto;
        padding: 28px 50px;
        border: none;
        font-size: 20px;
    }
    .footer-container button{
        padding: 28px 50px;
        font-size: 20px;
    }

}

@media screen and (max-width: 480px) {
    .navbar {
        padding: 15px 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-label {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav-links li {
        width: 100%;
        text-align: left;
    }

    .nav-links li a {
        padding: 10px 0;
        width: 100%;
        display: block;
    }

    #navbar-toggle:checked ~ .nav-links {
        display: flex;
    }

    .start-container {
        padding: 50px 20px;
    }

    .start-container h1 {
        font-size: 8vw; 
    }

    .start-container p {
        font-size: 4.5vw; 
    }

    .buttons-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .buttons{
        margin-top: 5%;
        padding: 10px;
        font-size: 14px;
    }

    .about-container {
        padding: 10px;
    }

    .solarship-blocks div {
        height: 90px;
    }

    .solarship-blocks a {
        font-size: 1.2em;
    }

    .popular-programs h1 {
        font-size: 6vw;
    }

    .program-card-content h3 {
        font-size: 24px;
    }

    .program-card-content p {
        font-size: 20px;
    }
    .program-card img {
        width: 100%;
        height: 250px;
    }
    .news-card img{
        width: 100%;
        height: 230px;
    }
    .footer-lists{
        display: flex;
        flex-direction: column;
    }
    .stay-updated{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .footer-container input[type="email"] {
        width: auto;
        padding: 28px 50px;
        border: none;
        font-size: 20px;
    }
    .footer-container button{
        padding: 28px 50px;
        font-size: 20px;
    }
}

@media screen and (max-width: 360px) {
    .navbar {
        padding: 15px 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-label {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav-links li {
        width: 100%;
        text-align: left;
    }

    .nav-links li a {
        padding: 10px 0;
        width: 100%;
        display: block;
    }

    #navbar-toggle:checked ~ .nav-links {
        display: flex;
    }

    .start-container {
        padding: 50px 20px;
    }

    .start-container h1 {
        font-size: 8vw; 
    }

    .start-container p {
        font-size: 4.5vw;
    }

    .buttons-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .about-container {
        padding: 10px;
    }

    .solarship-blocks div {
        height: 90px;
    }

    .solarship-blocks a {
        font-size: 1.2em;
    }

    .popular-programs h1 {
        font-size: 6vw;
    }

    .program-card-content h3 {
        font-size: 24px;
    }

    .program-card-content p {
        font-size: 20px;
    }
    .program-card img {
        width: 100%;
        height: 200px;
    }

    .footer-lists{
        display: flex;
        flex-direction: column;
    }
    .stay-updated{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .footer-container input[type="email"] {
        width: auto;
        padding: 28px 50px;
        border: none;
        font-size: 20px;
    }
    .footer-container button{
        padding: 28px 50px;
        font-size: 20px;
    }
}

