body {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    background-color: lightpink;
    color: aliceblue;
    padding: 20px;
    list-style: none;
}

li {
    margin-top: 20px;
    padding: 10px 25px  ;
    margin-left: 15px;
    background-color: darkmagenta;
}

span {
    background-color: rgb(210, 100, 154);
    padding: 10.5px 40px;
    margin-left: 12px;
}